---
   // src/pages/404.astro
---
<html>
  <head>
    <title>404 - Página no encontrada</title>
    <script type="text/javascript"> 
        window.location.href = '/';   
    </script>
  </head>
  <body> 
  </body>
</html>
